.flex-dashboard{
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
}
sidebar{
    display: block;
    height: 100%;
    width: 300px;
    background-color: #221f53;
    color: #000;
}
sidebar .sidebar-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px 40px;
    height: 170px;
    align-items: center;
    border: 1px solid #72777a59;
   
}
sidebar .sidebar-title img{
    height: 40px;
    width: 40px;
}
sidebar .sidebar-title h4{
    font-size: 16px;
    margin-top: 8px;
    color: #fff;
}
menu{
    border-right: 1px solid rgba(0, 0, 0, .0625);   
}
div.menu ul{
    list-style-type: none;
}
div.menu ul li{
    display: flex;
    border: 1px solid #72777a59;
    padding: 18px 20px;
    width: 100%;
    flex-direction: row;
    align-items: center;
}
div.menu ul li svg{
    color: #fff;
    font-size: 25px;
}
div.menu ul li a{
    color: #fff;
    margin-left: 20px;
    text-decoration: none;
    text-transform: uppercase;
}
div.menu ul li a:hover{
    color: #000;
}