<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="icon" href="img/health system.png">
        <link rel="stylesheet" href="../css/all.css">   
        <link rel="stylesheet" href="../pluggin/bootstrap/css/bootstrap.min.css"> 
        <link rel="stylesheet" href="../pluggin/fontawesome/css/all.min.css">
        <link rel="stylesheet" href="../js/login.js">
        <title>Dashboard Projeto Health System</title>
    </head>
    <body>
        <div class="flex-dashboard">
            <sidebar>
                <div class="sidebar-title">
                    <img src="../img/health system.png" alt="">
                    <a href="../index.html"></a>
                    <h4>Health System</h4>
                </div>
                <div class="menu">
                    <ul>
                        <li>
                            <i class="fas fa-home"></i>
                            <a href="#"></i>Início</a>
                        </li>
                        <li>
                            <i class="fas fa-file-medical-alt"></i>
                            <a href="#">Plano</a>
                        </li>
                        <li>
                            <i class="far fa-building"></i>
                            <a href="#">Empresa</a>
                        </li>
                        <li>
                            <i class="fas fa-users"></i>
                            <a href="#">Funciónario</a>
                        </li>
                        <li>
                            <i class="fas fa-user"></i>
                            <a href="#"></i>Usuário</a>
                        </li>
                        <li>
                            <i class="fas fa-dollar-sign"></i>
                            <a href="#">Financeiro</a>
                        </li>
                        <li>
                            <i class="fas fa-upload"></i>
                            <a href="#"></i>Uploads</a>
                        </li>
                        </ul>
                </div>
            </sidebar> 
        <main>
            <header>
                <a href="../views/dashboard.html"><i class="fas fa-home">home</i></a>
                <a href="../index.html"><i class="fas fa-sign-out-alt"></i></a>
            </header>
            <div class="main-content">
                <div class="panel-row">
                    <button class="panel panel-50">Planos</button>
                    <button class="panel panel-50">Empresas</button>
                </div>
               
            </div>
        </main>
    </div>

        <script src="../pluggin/bootstrap/js/bootstrap.min.js"></script> 
        <script src="../pluggin/fontawesome/js/all.min.js"></script>      
    </body>
</html>
