<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="icon" href="img/health system.png">
        <link rel="stylesheet" href="../css/all.css">   
        <link rel="stylesheet" href="../pluggin/bootstrap/css/bootstrap.min.css"> 
        <link rel="stylesheet" href="../pluggin/fontawesome/css/all.min.css">
        <title>Dashboard Projeto Health System</title>
    </head>
    <body>
        <div class="register-parent">
          <div class="register">
            <div class="register-title">
              <h2>Redefeinir sua senha</h2>
            </div>

            <form>
               
                <div class="form-group">
                  <label for="exampleInputEmail1">Email ou CPF</label>
                  <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="E-mail ou CPF">
                </div>
                
                <div class="form-group">
                  <label for="senha">Nova Senha</label>
                  <input type="password" class="form-control" id="senha" placeholder="Senha">
                </div>

                <div class="form-group">
                   <label for="senha">Digite novamente sua Senha</label>
                   <input type="password" class="form-control" id="senha" placeholder="Senha">
                </div>

                <button type="submit" class="btn btn-primary">Enviar</button>
              </form>
    
        </div>
      </div>

  
        <script src="../pluggin/bootstrap/js/bootstrap.min.js"></script> 
        <script src="../pluggin/fontawesome/js/all.min.js"></script>      
    </body>
</html>